<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Real Estate Agency</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"></script>
</head>

<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${facility.description}">Facility Description</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Number of Rooms:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${facility.numberOfRooms}">3</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Total Area:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${facility.totalArea}">70</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Published Date Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${facility.publishedDateTime}">01.01.2020 00:00</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Closed Date Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${facility.closedDateTime}">Not yet</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h5 class="panel-title">Address</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h5>District:</h5>
                            </div>
                            <div class="col-md-2">
                                <p th:text="${facility.address.district}">IL</p>
                            </div>
                            <div class="col-md-2">
                                <h5>Postcode:</h5>
                            </div>
                            <div class="col-md-2">
                                <p th:text="${facility.address.postcode}">99999</p>
                            </div>
                            <div class="col-md-2">
                                <h5>City:</h5>
                            </div>
                            <div class="col-md-2">
                                <p th:text="${facility.address.city}">Chicago</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Street:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${facility.address.street}">Some Street</p>
                            </div>
                            <div class="col-md-3">
                                <h5>House Number:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${facility.address.facilityNumber}">665</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11 ">
                                <h1 class="panel-title">Clients</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" role="button">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:each="client : ${facility.clients}"
                                        th:text="${client.firstName + ' ' + client.lastName}">
                                        Jane Doe
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>