<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Real Estate Agency</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"></script>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${client}" th:ob th:action="@{'/client/save'}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Input Errors Below</p>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Create new Client</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('firstName')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>First Name:</label>
                                    <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('lastName')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Last Name:</label>
                                    <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('login')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Login:</label>
                                    <input type="text" class="form-control" th:field="*{login}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('login')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('login')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('password')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Password:</label>
                                    <input type="text" class="form-control" th:field="*{password}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('password')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('customerRequirements')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Requirements for Customer:</label>
                                    <input type="text" class="form-control" th:field="*{customerRequirements}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('customerRequirements')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('customerRequirements')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('mobileNumber')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Phone:</label>
                                    <input type="text" class="form-control" th:field="*{mobileNumber}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('mobileNumber')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('mobileNumber')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('skype')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Skype:</label>
                                    <input type="text" class="form-control" th:field="*{skype}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('skype')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('skype')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('email')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Email:</label>
                                    <input type="text" class="form-control" th:field="*{email}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('email')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:object="${facility}">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Add Facility</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('description')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('monthRent')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Month Rent:</label>
                                    <input type="text" class="form-control" th:field="*{monthRent}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('monthRent')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('monthRent')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('price')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Price:</label>
                                    <input type="text" class="form-control" th:field="*{price}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('price')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('price')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Status:</label>
                                    <select class="form-control" th:field="*{status}">
                                        <option th:each="statusValue : ${T(web.example.realestate.domain.enums.Status).values()}"
                                                th:value="${statusValue.name()}"
                                                th:text="${statusValue.name()}">Undefine</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('numberOfRooms')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Number of Rooms:</label>
                                    <input type="text" class="form-control" th:field="*{numberOfRooms}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('numberOfRooms')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('numberOfRooms')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('totalArea')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Total Area:</label>
                                    <input type="text" class="form-control" th:field="*{totalArea}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('totalArea')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('totalArea')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('publishedDateTime')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Published Date Time:</label>
                                    <input type="text" class="form-control" th:field="*{publishedDateTime}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('publishedDateTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('publishedDateTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('closedDateTime')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Closed Date Time:</label>
                                    <input type="text" class="form-control" th:field="*{closedDateTime}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('closedDateTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('closedDateTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Number Of Storeys:</label>
                                    <input type="text" class="form-control" th:field="*{numberOfStoreys}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Has Backyard:</label>
                                    <input type="text" class="form-control" th:field="*{hasBackyard}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Has Garden:</label>
                                    <input type="text" class="form-control" th:field="*{hasGarden}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Chose House:</label>
                                    <input type="text" class="form-control" th:field="*{itHouse}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Floor:</label>
                                    <input type="text" class="form-control" th:field="*{floor}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Apartment Number:</label>
                                    <input type="text" class="form-control" th:field="*{apartmentNumber}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Chose Apartment:</label>
                                    <input type="text" class="form-control" th:field="*{itApartment}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Has Pit:</label>
                                    <input type="text" class="form-control" th:field="*{hasPit}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Has Equipment:</label>
                                    <input type="text" class="form-control" th:field="*{hasEquipment}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Chose Garage:</label>
                                    <input type="text" class="form-control" th:field="*{itGarage}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Commercial Capacity:</label>
                                    <input type="text" class="form-control" th:field="*{commercialCapacity}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Has Cargo Equipment:</label>
                                    <input type="text" class="form-control" th:field="*{hasCargoEquipment}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Chose Storage:</label>
                                    <input type="text" class="form-control" th:field="*{itStorage}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Commercial:</label>
                                    <input type="text" class="form-control" th:field="*{itCommercial}" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Chose Basement:</label>
                                    <input type="text" class="form-control" th:field="*{itBasement}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:object="${address}">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Add Address Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('district')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>District:</label>
                                    <input type="text" class="form-control" th:field="*{district}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('district')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('district')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('postcode')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Postcode:</label>
                                    <input type="text" class="form-control" th:field="*{postcode}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('postcode')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('postcode')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('city')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>City:</label>
                                    <input type="text" class="form-control" th:field="*{city}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('city')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('city')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('street')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Street:</label>
                                    <input type="text" class="form-control" th:field="*{street}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('street')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('street')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group"
                                     th:class="${#fields.hasErrors('facilityNumber')} ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>House Number:</label>
                                    <input type="text" class="form-control" th:field="*{facilityNumber}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('facilityNumber')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('facilityNumber')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Agents</h1>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Select Your Agent:</label>
                                    <select class="form-control" name="agentId">
                                        <option th:each="agent : ${realEstateAgents}"
                                                th:value="${agent.id}"
                                                th:selected="${agent.id.equals(client.agentId)}"
                                                th:text="${agent.firstName + ' ' + agent.lastName}">Buy Seller</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>