<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Real Estate Agency</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"></script>
</head>

<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${realEstateAgent}" th:action="@{/realEstateAgent/}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Agent Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>First Name:</label>
                                    <input type="text" class="form-control" th:field="*{firstName}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Last Name:</label>
                                    <input type="text" class="form-control" th:field="*{lastName}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Login:</label>
                                    <input type="text" class="form-control"
                                           th:field="*{login}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Password:</label>
                                    <input type="text" class="form-control"
                                           th:field="*{password}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Email:</label>
                                    <input type="text" class="form-control" th:field="*{email}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Skype:</label>
                                    <input type="text" class="form-control" th:field="*{skype}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Mobile:</label>
                                    <input type="text" class="form-control" th:field="*{mobileNumber}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Salary:</label>
                                    <input type="text" class="form-control" th:field="*{salary}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Hired Date:</label>
                                    <input type="text" class="form-control" th:field="*{hiredDate}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Quit Date:</label>
                                    <input type="text" class="form-control" th:field="*{quitDate}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Clients</h1>
                                </div>
                                <!--<div class="col-md-1">
                                    <a class="btn btn-default" href="#" th:href="@{'/client/' + ${client.id} + '/agents'}" role="button">View</a>
                                </div>-->
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <ul>
                                    <li th:each="client : ${clients}">
                                        <div class="ui checkbox">
                                            <input type="checkbox" th:field="*{clientIds}" th:value="${client.id}" th:selected="${realEstateAgent.clientIds.equals(client.id)}">
                                            <label th:text="${client.firstName} + ' ' + ${client.lastName}">Aid Seeker</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>